@model IEnumerable<SchoolManagementSystem2.ViewModels.EmployeeTypeViewModel>

@{
    ViewData["Title"] = "EmployeeType Index";
}

<h1>EmployeeType List</h1>

<p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>



            </tr>
        }
    </tbody>
</table>